@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #ffffff; /* Track color */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #1773e2; /* Thumb color */
}

/* Handle the scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #124da5; /* Thumb color on hover */
}

/* Style the scrollbar itself (width, height) */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}
