@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: #ffffff; /* Track color */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #1773e2; /* Thumb color */
}

/* Handle the scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
    background: #124da5; /* Thumb color on hover */
}

/* Style the scrollbar itself (width, height) */
::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
    height: 10px; /* Height of the horizontal scrollbar */
}

:root {
    --noItems: 4;
    --itemsWidth: 600px;
    --gap: 10px;
    --marqueeSpeed: 30s;
    --containerBG: #233d4d;
    --fill1: #fe7f2d;
    --fill2: #fcca46;
    --fill3: #a1c181;
    --fill4: #619b8a;
}

.imageBody {
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}

#grid-container-image {
    width: calc(calc(var(--noItems) * calc(var(--itemsWidth) + var(--gap))));
    /* border: var(--gap) solid var(--containerBG); */
    overflow: hidden;
    /* background: var(--containerBG); */
    border-radius: var(--gap);
}

.gridImage {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: var(--gap);
    width: 200%; /* ❗️as having 2 sets of items per row❗️*/
}

.rowImage {
    display: flex;
    overflow: hidden;
}

.boxImage {
    width: var(--itemsWidth);
    height: 240px;
    margin-right: var(--gap);
    border-radius: var(--gap);
	overflow: hidden;
}
.boxImage img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Colors */
.fill1 {
    background-color: var(--fill1);
}

.fill2 {
    background-color: var(--fill2);
}

.fill3 {
    background-color: var(--fill3);
}

.fill4 {
    background-color: var(--fill4);
}

.forward {
    animation: forward-marquee var(--marqueeSpeed) linear infinite;
}

.forward:hover {
    animation-play-state: paused;
}

.backward {
    animation: backward-marquee var(--marqueeSpeed) linear infinite;
}

.backward:hover {
    animation-play-state: paused;
}

@keyframes forward-marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes backward-marquee {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}