.imageContainer {
	overflow: hidden;
	border-radius: 50%;
	object-fit: cover;
}

.image {
	width: 100%;
	transform: scale(1.1); 
	min-height: 200px;
	object-fit: cover;
}

.linkedin {
	width: 50px;
	height: 50px;
	z-index: 10;
	border: 8px solid white;
	border-radius: 50%;
	position: relative;
	top: -42%
}

@media screen and (max-width: 568px) {
	.linkedin {
		top: -36%;
	}
}

.logo {
	width: 100%;
}